<div class="row">
  <div class="col-md-12">
    <form action="/users/<%= @user.id %>" method="put">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Username
        </label>

        <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @user.username %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @photo.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Photo
      </button>
      or
      <a href="/photos/<%= @photo.id %>">Cancel</a>
    </form>
  </div>
</div>